__pycache__/
.venv/
ARVO-Meta/
repos/
tree_sitter/
data/
cache/
.aider*
repo_tmp*/
.*/
completions/
results/
diff/
agent-sdk/
eval_results/
logs/
inference_data/
report_eval*
report.json
report.json.gz
sample_metadata.json
sample_metadata.json.gz
sast_tools/
sast_results/
selected_tasks.json
assets/ids.txt
assets/ids_backup.txt